@model WebAppProduccion.Entities.ModulosArzys.arz_retrabajos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutARZYS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>arz_retrabajos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
